# HDFS
HDFS_REPLICATION_FACTOR=2
NAMENODE_WEB_PORT=9870
NAMENODE_RPC_PORT=9000

# Spark. Reduce these values to 1G and 1 on an 8 GB laptop.
SPARK_MASTER_WEB_PORT=8080
SPARK_MASTER_PORT=7077
SPARK_WORKER_MEMORY=2G
SPARK_WORKER_CORES=2

# Streamlit
DASHBOARD_PORT=8501
